:root{
    --clr1 : #0f172a;
    --clr2 : #1e293b;
    --clr3 : #F4F4F4;
    --clr4 : rgba(255, 255, 255, 0.1);
    --clr5 : #ECECEC;
    --clr6 : #BFC6C4;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(75deg, var(--clr2), var(--clr1));
    align-items: center;
    padding: 20px 0 0 0;
}
.container{
    background: var(--clr3);
    width: 450px;
    margin: auto;
    border-radius: 20px;
    text-align: center;

    
}
.title{
    background: linear-gradient(75deg, var(--clr2), var(--clr1));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: -5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 30px;

    span{
        width: 50px;
        height: 50px;
        background: var(--clr4);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: -8px;
        font-size: 28px;
    }

    h2{
        font-size: 1.8em;
        font-weight: bold;
        color: var(--clr3);
        margin-bottom: -8px;
        width: 100%;
    }

    p{
        font-size: 0.9em;
        color: var(--clr3);
        width: 100%;
    }
}

.input{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .unitSystem{
        padding: 5px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    button{
        width: 45%;
        padding: 10px 5px;
        border: none;
        background: var(--clr5);
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .changeunit:hover{
        background: linear-gradient(225deg, var(--clr2), var(--clr1));
        color: white;
    }

    .item{
        padding: 5px 0;

        input{
            background: var(--clr3);
            width: 100%;
            box-sizing: border-box;
            padding: 10px 5px;
            border: solid 2px var(--clr6);
            border-radius: 8px;
            font-weight: bold;
        }

        label{
            font-weight: bold;
            width: 100%;
            margin: auto;
            margin-bottom: -15px;
            display: block;
            text-align: left;
        }

    }

    .getbutton{
        padding: 0;

        button:hover{
            background: linear-gradient(225deg, var(--clr2), var(--clr1));
            color: white;
        }
    }
}

.line{
    width: 100%;
    height: 0.5px;
    background-color: var(--clr6);
    margin: 0;
    padding: 0;
}

.output{
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 0 20px 10px;

    .result1{
        font-size: 3em;
        font-weight: bolder;
    }

    .result2{
        font-weight: bolder;
    }
}

.footerTxt{
    font-size: 0.8em;
    padding: 10px;
    margin-top: 0;
}

/*--After getting BMI--*/
.under {
    background: #cfe2ff;
    color: #0d6efd;
}

.normal {
    background: #C7EABB;
    color: #198754;
}

.over {
    background: #ffe5b4;
    color: #fd7e14;
}

.obese {
    background: #f8d7da;
    color: #dc3545;
}